{% extends "finance-2026/289906-draft-1/layouts/trust_layout.njk" %}

{% set pageTitle = "Abbey Academies Trust" %}
{% set pageHeading = pageTitle %}

{# Set an active state on the appropraite primary nav item #}
{% set navActive = "finances" %}

{# Set an active state on the appropraite secondary nav item #}
{% set subPageHeading = "SFSO Commissioning Form" %}
{% set subNavActive = "commissioning-form" %}

{# Custom block for the main content area of a trust page #}
{% block trustContent %}

  <h2 class="govuk-heading-l">
      Finances
  </h2>

  {# Sub-nav to flick through data sets #}
  {% include "../parts/sub_nav.njk" %}

  <h2 class="govuk-heading-m">
      SFSO Commissioning form
  </h2>

  <p class="govuk-body">
    To request detailed financial information, complete the Schools Financial Support and Oversight (SFSO) commissioning form.
  </p>

  <a href="#" class="govuk-button">
    Complete the SFSO commissioning form
  </a>

  <h3 class="govuk-heading-s">
    About the SFSO Commissioning form
  </h3>

  <p class="govuk-body">
    Fill out the commissioning form, including a description of the project and any case complexities SFSO needs to be aware of. 
  </p>

  <p class="govuk-body">
    The completed commissioning form is sent to the Business Operational Service and Support (BOSS) mailboxes. You receive an automated email response as a receipt of sending. An SFSO colleague will respond to your request in line with the Service Level Agreement (SLA) outlined in the form of 5 or 10 days.
  </p>

  <h3 class="govuk-heading-s">
    What you can use the form for
  </h3>

  <p class="govuk-body">
    You might use the form to:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>request initial financial advice on a transfer or conversion project</li>
    <li>request trust financial information for a ministerial or director briefing</li>
    <li>request financial advice for inclusion in the decision papers about an intervention</li>
  </ul>

  <h3 class="govuk-heading-s">
    What the form should not be used for
  </h3>

  <p class="govuk-body">
    The form should not be used for:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>ad-hoc requests</li>
    <li>single figure requests</li>
    <li>requesting speculation</li>
    <li>requesting personal opinions</li>
  </ul>

  {# <p class="govuk-body">
    If you need help, you can contact us on <a href="#">help-me@sfso.gov.uk</a>.
  </p> #}

  {# <hr class="govuk-section-break govuk-section-break--s"> #}

{% endblock %}

